@font-face {
  font-family: Bangers;
  src: url("/Bangers-Regular.ttf");
}
#logo {
  width: 20%;
  height: 20%;
  background-repeat: repeat;
  border-color: #4EADFF;
  border-width: 10px;
  border-style: inset;
  border-radius: 50px;
}
.Proyectos img{
border-radius: 50px;
margin-bottom: 1.5em;
transition: all .3s ease;
min-width: 100%;
}
.Proyectos a:hover img{
  transform: scale(1.2);
}
.footer{
  color: aliceblue;
  background-color: black;
}
.btn{
  color: aliceblue;
}
.NAX{
  display: flex;
  color: aliceblue;
  font-family: Bangers;
}
.footer1{
  background-color:#4874E8;
  border-color: #5B5FFF;
  border-width: 4px;
  border-style: solid;
}
.navbar{
  background-color: #4874E8;
  border-color: #5B5FFF;
  border-width: 4px;
  border-style: inset;
}
.Proyectos{
 background-repeat: no-repeat;
 color: white;
 font-family: Bangers;
}
.contenedorvideo{
  background-color:#4874E8;
}
.proyectos{
  background-color: #5A0DFF;
}
.card-body{
  background-color: #4EADFF;
}
.btn-primary{
  background-color: #5A0DFF;
}